@import "../omarchy/current/theme/waybar.css";

* {
  /* background-color: @background; */
  /* color: @foreground; */

  border: none;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font Propo';
  font-weight: normal;
  font-size: 12px;
}


window#waybar  {
  background-color: @background;
  color: @foreground;
  /* border-top: 1px solid alpha(@foreground, 0.9); */
  border-bottom: 2px solid alpha(@foreground, 0.9);
  /* border-radius: 0 0 10 10; */
  transition-property: background-color;
  transition-duration: .5s;
  border: 2px solid alpha(@foreground, 0.75);
  border-radius: 6px;
}

#window {
  text-shadow: 0px 0px 2px alpha(@foreground, 0.6);
  margin: 0;
  padding: 0;
  padding-top: 0px;
  font-size: 8px;
}

#custom-omarchy {
margin: 0;
padding-top: 1px;
font-size: 16px;
}

.modules-left {
 margin-left: 0px;
 margin: 0;
 padding: 1.5px 0 1.5px;
 text-shadow: 0px 0px 2px alpha(@foreground, 0.8);

}
.modules-center {
  border-radius: 0;
  border-left: 1px solid alpha(@foreground, 0.2);
  border-right: 1px solid alpha(@foreground, 0.2);
  text-shadow: 0px 0px 2px alpha(@foreground, 0.6);
  padding: 0 10px;
  padding-top: 0px;
}
.modules-right {
  padding-top: 0px;
  margin-right: 2px;
  text-shadow: 0px 0px 2px alpha(@foreground, 0.8);
}

#workspaces {
    padding: 1px 0px 1px;
    margin: 1px;
    border-radius: 2px;
    background: alpha(@foreground, 0.1);
    opacity: 0.95;
}

#workspaces button {
    min-width: 15px;
    min-height: 8px;
    padding: 1px;
    margin: 1px 1px;
    border-radius: 2px;
    background-color: alpha(@foreground, 0.75);
    opacity: 0.75;
    color: @background;
    font-size: 8px;
    transition: all 0.15s ease-in-out;
}

#workspaces button.active {
    background-color: alpha(@foreground, 0.9);
    border-radius: 2px;
    color: @background;
    font-size: 8px;
    min-width: 25px;
    opacity: 1.0;
    transition: all 0.15s ease-in-out;
}

#workspaces button:hover {
  color: @foreground;
  background: alpha(@background, 0.1);
  border-radius: 2px;
  opacity: 1.0;
}

#workspaces button.empty {
    opacity: 0.25;
}


#custom-image,
#custom-weather, #memory, #mpris, #window,
#hyprland-window,
#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#idle_inhibitor,
#custom-updatespacman,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#window, #hyprland-window {
  margin: 0;
}


.hidden {
  opacity: 0;
}

#tray, #custom-updatespacman, #network, #pulseaudio, #battery {
  margin: 0 5px;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;

  padding: 0 11 0 10;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}


/* EXTRA FIX! */



#mpris {
  margin-right: 4px;
}

#idle_inhibitor {
  margin-right: 1px;
}

tooltip {
    background-color: alpha(@background, 1);
    border: 2px solid alpha(@foreground, 0.5);
    border-radius: 8px;
    box-shadow: 1px 3px 1px alpha(@background, 0.3);
    padding: 4px;
}

tooltip label {
    color: @foreground;
}
